body {
	background-image:url("background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
}



#header {
	background-color:#001F2E;
	color:white;
	text-align:center;
	padding:5px;
  font-family: Tahoma, Geneva, sans-serif;
	width: 60%;
	margin: auto;
}

#nav {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	min-height: 50%;
  text-decoration: none;
  padding-bottom: 100px;
  line-height: 1.4;
  font-family: ‘Courier New’, Courier, monospace;
}

#footer {
	position: relative;
	background-color:#D3D3D3;
	color:white;
	text-align:center;
	padding:5px;
	font-family:arial;
	width: 60%;

	margin: 0 auto;
	height: 70px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}
